.nasa-product-content-variable-warp{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
}

.nasa-product-content-variable-warp .nasa-product-content-nasa_label-wrap,
.nasa-product-content-variable-warp .nasa-product-content-nasa_color-wrap{
    position:static;
    top:initial;
    left:initial;
    right:initial;
    bottom:initial;
    height: auto;
    opacity:1;
    width:100%;
    visibility: visible;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-item .nasa-product-content-nasa_label-wrap .nasa-product-content-child > a {
    width:22px;
    height: 22px;
}


.nasa-product-content-variable-warp > div{
    padding:0.3rem 0;
}
/*div.nasa-product-content-nasa_label-wrap div.nasa-product-content-size-wrap-child .nasa-attr-ux-nasa_label{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width:30px;
    height: 30px;
    border-radius:50%;
    padding:0;
    font-size: 0.8em;
    transition: all 0.2s ease;
}
div.nasa-product-content-nasa_label-wrap div.nasa-product-content-size-wrap-child .nasa-attr-ux-nasa_label.nasa-active{
    text-decoration:none;
    background-color:#f76b6a;
    border:1px solid #f76b6a;
    color:white;
}*/
div.nasa-product-content-nasa_label-wrap div.nasa-product-content-size-wrap-child .nasa-attr-ux-nasa_label.nasa-disable::before{
    display:none;
}
/*.product-item .nasa-product-content-nasa_label-wrap .nasa-product-content-child > a:hover{
    color: #f76b6a;
    border:1px solid #f76b6a;
}*/
div.nasa-product-content-nasa_label-wrap div.nasa-product-content-size-wrap-child .nasa-attr-ux-nasa_label + .nasa-attr-ux-nasa_label{
    margin-left:6px;
}

.retailer-product-selected{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin:8px 0;
    width:100%;
}
.selected-color{
    width:16px;
    height:16px;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
    font-size:0;
}
.bullet-color{
    font-size:0;
}

.save-retailer {
    padding:0.5rem 1rem;
    font-size:0.75rem;
    margin-top:0.5rem;
    line-height: 1rem;
    width:100%;
}

.removeRetailerProduct {
    padding: 0.5rem;
    background: #ffffff !important;
    color: #b1b1b1 !important;
    border-color: #b1b1b1 !important;
}

/* disable pointer events to prevent the click on some elements */
.product-info-wrap .name{
    pointer-events: none;
}

.removeRetailerProduct{
    padding: 3px;
    flex-shrink: 0;
    flex-grow: 0;
}


.retailer-info-title , label{
    font-size:0.85rem;
    text-transform: uppercase;
}

.retailer-price-container {
    font-weight: 900;
}

.retailer-product-command .priceCurrency , .selected-size{
    font-weight: 900;
}

.retailer-product-command {
    padding:1rem;
}

.quantity {
    text-align: right;
    font-weight: 900;
}

.productDetailsRow div {
    margin:0.25rem 0;
    display: flex;
    flex-grow: 1;
    padding:0 0.5rem 0 0;
}

.product-size {
    flex-grow: 1;
    padding:0 0.25rem;
}

.product-total-price {
    flex-grow: 1;
    text-align: right;
}